<div class="dashboard-page">
  <div class="container mt-5 shadow-sm p-3">
    <div class="row">
      <!-- Bookings Made Section -->
      <div class="col-md-4">
        <div class="dashboard-page-card-bookings">
          <div class="dashboard-page-card-bookings-header">
            <h4><i class="fas fa-suitcase"></i> Bookings Made</h4>
          </div>
          <div class="dashboard-page-card-bookings-body">
            <% if @bookings_made.any? %>
              <ul class="list-group">
                <% @bookings_made.each do |booking| %>
                  <li class="list-group-item dashboard-booking-card">
                    <div class="card-product">
                      <img src="<%= cl_image_path booking.life_moment.photo.key %>" alt="<%= booking.life_moment.title %>" class="dashboard-booking-card-img"/>
                      <div class="card-product-infos">
                        <h2 class="dashboard-booking-card-title">
                          <%= link_to booking.life_moment.title, booking_path(booking), class:"text-decoration-none text-black" %>
                        </h2>
                        <% if booking.start_date.present? && booking.end_date.present? %>
                          <p>Booked from <%= booking.start_date.strftime('%B %d, %Y') %> to <%= booking.end_date.strftime('%B %d, %Y') %></p>
                        <% else %>
                          <p>Date information is not available.</p>
                        <% end %>
                        <span class="badge bg-secondary rounded-pill mt-2 mb-2 mx-3"><%= booking.status %></span>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>No bookings made yet.</p>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Bookings Sold Section -->
      <div class="col-md-4">
        <div class="dashboard-page-card-bookings">
          <div class="dashboard-page-card-bookings-header">
            <h4><i class="fas fa-dollar-sign"></i> Bookings Sold</h4>
          </div>
          <div class="dashboard-page-card-bookings-body">
            <% if @bookings_sold.any? %>
              <ul class="list-group">
                <% @bookings_sold.each do |booking| %>
                  <li class="list-group-item dashboard-booking-card">
                    <div class="card-product">
                      <img src="<%= cl_image_path booking.life_moment.photo.key %>" alt="<%= booking.life_moment.title %>" class="dashboard-booking-card-img"/>
                      <div class="card-product-infos">
                        <h2 class="dashboard-booking-card-title">
                          <%= link_to booking.life_moment.title, booking_path(booking), class:"text-decoration-none text-black" %>
                        </h2>
                        <% if booking.start_date.present? && booking.end_date.present? %>
                          <p>Booked from <%= booking.start_date.strftime('%B %d, %Y') %> to <%= booking.end_date.strftime('%B %d, %Y') %></p>
                        <% else %>
                          <p>Date information is not available.</p>
                        <% end %>
                        <span class="badge bg-secondary rounded-pill"><%= booking.status %></span>

                        <% if booking.status == 'pending' %>
                          <div class="mt-2">
                            <%= link_to 'Accept', accept_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-success btn-sm" %>
                            <%= link_to 'Decline', decline_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-danger btn-sm" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>No bookings sold yet.</p>
            <% end %>
          </div>
        </div>
      </div>


<!-- Published Life Moments Section -->
<div class="col-md-4">
  <div class="dashboard-page-card-life-moments">
    <div class="dashboard-page-card-life-moments-header">
      <h4><i class="fa-solid fa-person"></i> Published Life Moments</h4>
    </div>
    <div class="dashboard-page-card-life-moments-body">
      <% if @published_life_moments.any? %>
        <ul class="list-group">
          <% @published_life_moments.each do |life_moment| %>
            <li class="list-group-item dashboard-life-moment-card">
              <div class="card-product">
                <% if life_moment.photo.attached? %>
                  <%= cl_image_tag life_moment.photo.key, class: 'dashboard-life-moment-card-img', alt: life_moment.title %>
                <% else %>
                  <img src="path/to/default-image.jpg" alt="Default Image" class="dashboard-life-moment-card-img" />
                <% end %>
                <div class="card-product-infos">
                  <h2 class="dashboard-life-moment-card-title">
                    <%= link_to life_moment.title, life_moment_path(life_moment), class:"text-decoration-none text-black" %>
                  </h2>
                  <p><%= life_moment.description.truncate(100) %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No life moments published yet.</p>
      <% end %>
    </div>
  </div>
</div>
