<div class="form-new-moment">
  <div class="container mt-5">
    <!-- Centering the Form -->
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 form-container">
        <%= simple_form_for(@life_moment, html: { multipart: true }) do |f| %>
          <!-- Form Title -->
          <div class="mb-4 text-center mt-2">
            <h3>Make Life Moment Available for Rent - Share your life with others!</h3>
          </div>

          <!-- Title Input -->
          <p class="form-label">Title</p>
          <%= f.input :title, label: false, input_html: { class: 'form-control' } %>

          <!-- Price Per Night Input -->
          <p class="form-label">Price per night</p>
          <%= f.input :price_per_night, label: false, input_html: { class: 'form-control', step: 0.01 } %>

          <!-- Description Input -->
          <p class="form-label">Description</p>
          <%= f.input :description, label: false, as: :text, input_html: { class: 'form-control' } %>

          <!-- Photo Input -->
          <p class="form-label">Attach a Photo Illustrating the moment you're renting</p>
          <%= f.input :photo, label: false, as: :file, input_html: { class: 'form-control' } %>

          <!-- Submit Button -->
          <div class="text-center mt-4">
            <%= f.button :submit, 'Publish Offer', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
