  <!-- Search Bar Partial -->
  <%= render 'search_bar' %>

  <!-- List Section -->
<div class="container mt-5">
  <h5>Rent the Life Moment You've Always Dreamed Of</h5>
  <div class="row">
    <% @life_moments.each do |life_moment| %>
      <div class="col-md-4 mb-4">
        <%= link_to life_moment_path(life_moment), class: 'text-decoration-none' do %>
          <div class="card-life-moment">
            <% if life_moment.photo.attached? %>
              <%= cl_image_tag life_moment.photo.key, class: 'card-life-moment-img' %>
            <% end %>
            <div class="card-life-moment-infos">
              <div>
                <h2 class="card-life-moment-title">
                  <%= life_moment.title %>
                </h2>
              </div>
              <h2 class="card-life-moment-pricing">
                <%= number_to_currency(life_moment.price_per_night, unit: '$') %> per night
              </h2>
              <%= cl_image_tag 'placeholder-avatar.png', class: 'card-life-moment-user avatar-bordered' %> <!-- Placeholder for user image -->
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
