<!-- Search Bar Partial -->
<%= render 'search_bar' %>

<!-- List Section -->
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center mb-2">
    <%= image_tag "https://res.cloudinary.com/dnrfsvgnj/image/upload/v1723806592/DALL_E_2024-08-16_13.05.13_-_A_simple_2D_cartoon-style_flower_with_vibrant_colors__designed_in_a_flat_and_playful_style._The_flower_should_have_a_thick_green_stem_and_large__smoot-removebg-preview_byxkry.png", alt: "Flower", class: "flower-icon me-3" %>
    <h4 class="custom-title">Rent the Life Moment You've Always Dreamed Of</h4>
  </div>

  <div class="row">
    <% @life_moments.each do |life_moment| %>
      <div class="col-md-4 mb-4">
        <%= link_to life_moment_path(life_moment), class: 'text-decoration-none' do %>
          <div class="card-life-moment">
            <% if life_moment.photo.attached? %>
              <%= cl_image_tag life_moment.photo.key, class: 'card-life-moment-img' %>
            <% end %>
            <div class="card-life-moment-infos">
              <div>
                <h2 class="card-life-moment-title">
                  <%= life_moment.title %>
                </h2>
              </div>
              <h2 class="card-life-moment-pricing">
                <%= number_to_currency(life_moment.price_per_night, unit: '$') %> per night
              </h2>
              <% if life_moment.average_rating %>
                <div class="card-life-moment-rating">
                  <i class="fas fa-star"></i>
                  <%= life_moment.average_rating %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
